<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <div class="upper-container">
        <h1>Ping Wall</h1>
        <a href="./new">+Add New</a>
    </div>
    <div class="messages-board">
        <ul>
            <% messages.forEach(message => { %>
                <li>
                    <div class="message-div">
                        <div class="first-set">
                            <h2><%= message.userName %></h2> 
                            <h3><%= message.added %></h3> 
                        </div>
                        <div class="second-set">
                            <h3><%= message.message %></h3>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>