<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Wall</title>
    <Link rel="stylesheet" href="./index.css"></Link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="upper-container">
        <h1>Ping Wall</h1>
        <a href="./new">+Add New</a>
    </div>
    <div class="messages-board">
        <ul>
            <% messages.forEach(message => { %>
                <li>
                    <div class="message-div">
                        <div class="first-set">
                            <h2><%= message.userName %></h2> 
                            <h3><%= message.added %></h3> 
                        </div>
                        <div class="second-set">
                            <h3><%= message.message %></h3>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <%- include('partials/footer') %>
</body>
</html>